
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Menu</h2>

<button onclick="location.href='@Url.Action("List", "Employments")';return false;">Employment</button>
<button onclick="location.href='@Url.Action("List", "Donations")';return false;">Donations</button>