@{
    ViewBag.Title = "Home Page";
}

<div>

    <h1 text-align: center;>Stefan Strek: Representing Eugene's People</h1>
    <p><IMG SRC="~/Pictures/business2.jpg" ALT="image" style="float: left; margin: 0 15px;" height="280" width="210">This campaign is strongly founded on Traditional American Values. We are favorable to progress while being reasonably moderate. Favorable to concepts of maximum individual freedom, to preserve local cultural institutions. Together, we can, "Make Eugene Great Again."</p>

    @*GET STEFAN TO WRITE A NICE BLURG 1P LONG*@
    <p></p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <h1>Stefan Strek stands for...</h1>
    <p align="center"><IMG SRC="~/Pictures/animals.png" height=95 width=230><IMG SRC="~/Pictures/housing.png" height=95 width=230><IMG SRC="~/Pictures/committee.png" height=95 width=230></p>
    <p align="center">Animal Welfare &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Housing Assistance &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Community Development</p>
</div>