@{
    ViewBag.Title = "Home Page";
}

<div>

    <h1>Stefan Strek: Representing Eugene's People</h1>
    <p><IMG SRC="~/Pictures/business2.jpg" ALT="image" style="float: left; margin: 0 15px;" height="280" width="210">This campaign is strongly founded on Traditional American Values. We are favorable to progress while being reasonably moderate. Favorable to concepts of maximum individual freedom, to preserve local cultural institutions. Together, we can, "Make Eugene Great Again."</p>

    @*GET STEFAN TO WRITE A NICE BLURG 1P LONG*@

    <p>Full-Range Local Perspective: Stefan Strek went to O'Hara Elementary School, Roosevelt Middle School, O'Hara Middle School, Pleasant Hill Middle School, Pleasant Hill High School, Churchill High School, and graduated from South Eugene High School with a Certificate of Advanced Mastery in Business Management.</p>

    <p>Born in Worcester, Massachusetts "Heart of the Commonwealth", thus, a heart is the official symbol of the city. However, the heart symbol may also have its provenance in lore that Valentine's Day cards were invented in the city. Candidate Strek moved to Eugene from Athens, Georgia. The University of Georgia, the state's flagship public research university, is located in this college town, and contributed to its initial growth. Athens is famously known for <a href="https://en.wikipedia.org/wiki/Tree_That_Owns_Itself">The Tree That Owns Itself.</a></p>

    <p>Considering this developmental background, the Strek Campaign is dedicated to the success of a creative, individual city that is Eugene, Oregon. Stefan Strek has lived in Eugene since the summer of 1999 and has believed in the arts for his entire life. This Spring 2016 is Mr. Strek's first semester as a University of Oregon student after studying at Lane Community College since 2009. The only currently enrolled student running for Mayor this year, this campaign is dedicated to a smart approach at local issues.</p>

    <p>Experience: Easily the most dynamic candidate, Candidate Strek has lived across America, experienced local issues through all weather, and seen the most famous cities on Earth. After meeting many international friends while backpacking in Australia, Stefan Strek went to study French in France, and along the way took time to meet with many of his European friends which had first been met in Australia. Using a world-wide perspective on what makes world-class cities iconic, we believe this is the best way to provide happiness for the people of Eugene.</p>

</div>