@model IEnumerable<Strek4Mayor.Models.Event>

<head>
    <title></title>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/calendar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/calendar.js"></script>
    <style>
        #event-box {
            background: #EEE8AA;
            border: 1px solid orange;
            display: none;
            position: absolute;
        }
    </style>
</head>
<div id="event-box"></div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div id="calendar"></div>