@model IEnumerable<Strek4Mayor.Models.Event>

<link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
<link href="~/Content/calendar.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/calendar.js"></script>
<div id="event-box"></div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
        @Html.Name(" | ")
        @Html.ActionLink("View List", "Index")
    </p>
}
<h4>
    <img src="~/Pictures/282px-Golden_star.svg.png" style="width:5%" alt="Event Star" /> = Events<br />Point to any event for details
</h4>
<div id="calendar"></div>