.issueImg {
    width: 30%;
    float:left;
}

.issueImg img {
    max-width: 100%;
}

.issue {
    clear: both;
}

.issueText {
    margin-left: 5%;
    width: 60%;
    float:left;
    text-align:center;
}


h2{
    text-align:center;
    text-decoration: underline;
}


