#left-arrow, #right-arrow {
    border: 1px solid black;
    padding: 5px;
}

#left-arrow:hover, #right-arrow:hover {
    border: 2px solid black;
    padding: 4px;
}

#events {
   border: 5px outset #778899;
    color: black;
    margin: 0 auto 10px;
    width: 100%;
}

#events td {
    font-size: 1.5vw;
    width: 14%;
    text-align: left;
    vertical-align:top;
}

#event-box {
    background: #EEE8AA;
    border: 1px solid orange;
    display: none;
    pointer-events : none;
    position: absolute;
}

#left-arrow {
    float: left;
    max-width: 15%;
}

#right-arrow {
    float: right;
    max-width: 15%;
}

.display-event {
    margin: auto;   
}

.display-event img {
    width: 50%;
    margin-left: 25%;
}

.display-event:hover {
    cursor: pointer;   
}

#calendar-title {
    font-size: 3vw;
    padding: 1vw;
    text-align: center;
}

#events th {
    border: none;
}

#weekdays {
   color: black; 
   background-color: #6495ED; 

}

table tr {
    background-color: white;
}