.issueImage {
    width: 50%;
    float:left;
}

.issueImage img {
    max-width: 100%;
}

.issue {
    clear: both;
}

.issueText {
    width: 50%;
    float:right;
}

.textstyles {
    text-align:center;
}

h2{
    text-align:center;
    text-decoration: underline;
}

