#housingimg, #animalsimg, #committeeimg {
    width: 50%;
    float:left;
}

img {
    max-width: 100%;
}

.issue {
    clear: both;
}

#houseingissueText, #animalsissueText, #committeeissueText {
    width: 50%;
    float:right;
}

.textstyles {
    text-align:center;
}

h2{
    text-align:center;
    text-decoration: underline;
}


