body {
    background-color: #a0d8f3;
}
#view-box {
    background-image: url("/Pictures/BackgroundWall.png");
    margin: 2% auto;
    font-family: sans-serif;
    position: absolute;
    top: 7vh;
    left: 8vw;
    right: 8vw;
}
#box-within-box {
    float: left;
    width:100%;
}
#ajax-box {       
    padding: 3% 4%;
    margin-bottom: 2vh;
}
#admin-box {
    padding: 3% 0 0 4%;
}
h1 {
    font-family: sans-serif;
    color: #DB2929;
}
#navbar {
	border-radius: 60px;
	border: 1px solid #808080;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
	height: 6vh;
	left: 2vw;
    right: 2vw;
	top: 2vh;
	position: fixed;
	width: 96vw;
    z-index: 1;
}
.left-curve {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}
.right-curve {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
.navlink {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    color: black;
    font-size: 2vw;
    font-weight: bold;
}
.navlink:hover {
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
}
.highlighted {
    text-decoration: underline !important;
}
.navlink {
    float: left;
    height: 100%;
    line-height: 6vh;
    text-align: center;
    vertical-align: middle;
    width: 12.5%;
}
.tile-1 {
    background: url("/Pictures/Flag1.jpg") no-repeat;
    background-size: cover;
}
.tile-2 {
    background: url("/Pictures/Flag2.jpg") no-repeat;
    background-size: cover;
}
.tile-3 {
    background: url("/Pictures/Flag3.jpg") no-repeat;
    background-size: cover;
}
.tile-4 {
    background: url("/Pictures/Flag4.jpg") no-repeat;
    background-size: cover;
}
.tile-5 {
    background: url("/Pictures/Flag5.jpg") no-repeat;
    background-size: cover;
}
.tile-6 {
    background: url("/Pictures/Flag6.jpg") no-repeat;
    background-size: cover;
}
.tile-7 {
    background: url("/Pictures/Flag7.jpg") no-repeat;
    background-size: cover;
}
.tile-8 {
    background: url("/Pictures/Flag8.jpg") no-repeat;
    background-size: cover;
}
.tile-1:hover {
    background: url("/Pictures/DarkFlag1.jpg") no-repeat;
    background-size: cover;
}
.tile-2:hover {
    background: url("/Pictures/DarkFlag2.jpg") no-repeat;
    background-size: cover;
}
.tile-3:hover {
    background: url("/Pictures/DarkFlag3.jpg") no-repeat;
    background-size: cover;
}
.tile-4:hover {
    background: url("/Pictures/DarkFlag4.jpg") no-repeat;
    background-size: cover;
}
.tile-5:hover {
    background: url("/Pictures/DarkFlag5.jpg") no-repeat;
    background-size: cover;
}
.tile-6:hover {
    background: url("/Pictures/DarkFlag6.jpg") no-repeat;
    background-size: cover;
}
.tile-7:hover {
    background: url("/Pictures/DarkFlag7.jpg") no-repeat;
    background-size: cover;
}
.tile-8:hover {
    background: url("/Pictures/DarkFlag8.jpg") no-repeat;
    background-size: cover;
}
.border-right {
    border-right: 1px solid black;
    background-size: cover;
}
#banner {
    width: 100%;
}
#banner img {
    text-align: center;
    max-width: 100%;
    width: 100%;
}
.admin {
    margin-right: 20px;
}
.admin h3 {
    margin-top: 0;
}
.admin button {
    clear: left;
    margin: 10px;
}
