table {
    border: 5px outset #778899;
    color: black;
    margin: 0 auto 10px;
}

table th, Table td {
    border: 1px solid gray;
}

table th {
    background-color: #6495ED;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: lightblue;
}