<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://strek4mayor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>strek4mayor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Strek4Mayor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Strek4Mayor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Strek4MayorContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:strek4mayor.database.windows.net,1433;Initial Catalog=Capstone;User ID=Capstone@strek4mayor;Password=Strek4Mayor" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Strek4Mayor.Models.Strek4MayorContext, Strek4Mayor" MigrationConfiguration="Strek4Mayor.Migrations.Configuration, Strek4Mayor" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Strek4MayorContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:strek4mayor.database.windows.net,1433;Initial Catalog=Capstone;User ID=Capstone@strek4mayor;Password=Strek4Mayor</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>