@model Strek4Mayor.Models.QandA

@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank for your question. Once reviewed your question will be answered as soon as possible</h2>
</br>
<input type="button" id="submit" style='width:300px' value="return to Question page" onclick="location.href='@Url.Action("Index", "QandA")'" /> 

<script>
    $('.tile-6').addClass('highlighted');
</script>