<div style="clear:both;padding-top:5vh;padding-bottom:2vh;">
    <p align="center" style="font-size:x-small;">
        <i>Paid for by:</i> Thoughtful Locals for Strong Communities
        <br /><a href="mailto:Stefan.G.Strek@gmail.com?Subject=Eugene%20Mayor" target="_top">Stefan.G.Strek@gmail.com</a>
    </p>
</div>
