
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make a Donation</h2>

<p>Thank you for your support!  The law requires that I collect your name, address, and employment status, and if you are currently employed,
   I need your occupation and your employer's name, city, and state.</p>
@*<p>For your convenience, I have prepared a form that you can print:  <a href="@Url.Content("~/Pictures/DonationForm.pdf")">Donation Form</a>.</p>
*@
<p>Please send the required employment information along with your donation to:</p>
TLS Communities<br />
457 E12th Ave #B<br />
Eugene, OR<br />
97401<br />
<br />
Thank you!<br />
Stefan Strek