
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/issuesCSS.css")" />
</head>

<h2>On The Issues</h2>

<div id="wrapper">

    <div id="issue1">

        <div id="image1">

            <img src="~/Pictures/housing.png" height="225" width="500" alt="housing picture" />

        </div><!--end of image1 div-->

        <div id="issueText1">

            <h2 class="headingpadding">Housing Assistance</h2>

            <p id="Htextstyles">

                We have a vision that is based on a functional working model.
                Our plan is to emulate the program operating out of Austin, TX known as "Front Steps".
                Their program provides, housing, medical assistance, therapy services, social networking and a variety of functions.
                Flexibility of funding sources through grants, local donations, and other sources allows for this community resource to be one of the most successful models in the country.
                The Strek Campaign believes we can develop a similar, improved program here in Eugene, Oregon.

            </p>

        </div><!--end of issue1 div-->

    </div><!-- end of issue1 div-->

    <div id="issue2">

        <div id="image2">

            <img src="~/Pictures/animals.png" height="225" width="500" alt="animal picture" />

        </div><!--end of image2 div-->

        <div id="issueText2">

            <h2>Animal Assistance</h2>

            <p id="Atextstyles">

                We speak for those who cannot speak for themselves.
                Many homeless or low-income residents of our communities have animal companions who don't get regular veterinary check-ups,
                this can lead to detrimental health situations for the animal companions of our city.
                Our plan is to use city resources to establish a facility that networks with local veterinary students,
                these students would receive vital training in their chosen profession through both customer relations and
                practicing routine veterinary care. The Strek Campaign believes this is a cost-effective way to provide a much needed
                community service.
                By helping animals, we can help the people who depend on those animals for emotional support.

            </p>

        </div><!--end of issueText2 div-->

    </div><!-- end of issue2 div-->

    <div class="clear"></div>

    <div id="issue3">

        <div id="image3">

            <img src="~/Pictures/committee.png" height="225" width="500" alt="committee picture" />

        </div><!--end of image3 div-->

        <div id="issueText3">

            <h2 class="headingpadding">Community Development</h2>

            <p id="Ctextstyles">

                We believe in open spaces. Areas like Saturday Market, Kesey Square and our public parks need to be safe, clean, and preserved as they are for future generations.
                Eugene's availability of park space overshadows it's lack of public gathering space, we believe successful communities want public social areas and aim to bring a healthier, more open environment across Eugene.

            </p>

        </div><!--end of issueText3 div-->

    </div><!-- end of issue3 div-->

</div><!-- end of wrapper div-->
